<%= form_with(model: disciplina, local: true) do |form| %>
  <% if disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
      <% disciplina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :escola_id, "Instituição"   %>
    <%= form.collection_select :escola_id, Escola.all.order(:nome), :id, :nome, {}, {:class => "custom-select-sm form-control"} %>
  </div>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.collection_select :professor_id, User.where(role_id: 2, escola_id: 1).order(:nome), :id, :nome, {}, {:class => "custom-select-sm form-control"} %>
   
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


