<div class="modal fade" id="modalEditDisciplina" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog w-700"]>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" > Disciplina </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <%= form_tag('/disciplinas/atualizar_disciplina', method: :post) do %>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-sm-12">
              <%= label_tag 'Nome', nil %>
              <%= text_field_tag :nome, nil, class: 'form-control form-control' %>
              <%= hidden_field_tag :id, nil %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <%= label_tag 'Instituição', nil %>
              <%= select_tag 'escola_id', options_for_select(Escola.all.order(:nome).collect {|p| [p.nome, p.id]}), {:class => "custom-select-sm form-control", :data => {:placeholder => 'Selecione uma instituição'}} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <%= label_tag 'Professor', nil %>
              <%= select_tag 'professor_id', options_for_select([]), {:class => "custom-select-sm form-control", :data => {:placeholder => 'Selecione um professor'}} %>
            </div>
          </div>
        </div>
        <div class="modal-footer">            
          <%= submit_tag 'Salvar', :class => 'btn btn-primary'%>
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        </div>
      <% end %>
    </div>
  </div>
</div> 