<div class="container col-6">
  <div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Criar uma nova conta!</h1>
            </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'user'}) do |f| %>
              <div class="bg-gradient font-weight-bold text-danger">
                <%= render "devise/shared/error_messages", resource: resource %>
              </div>
              <div class="form-group">
                <%= f.label :nome %><br />
                <%= f.text_field :nome, class: 'form-control form-control-user', autofocus: true%>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <%= f.label :ra, 'RA' %>
                  <%= f.text_field :ra, class: 'form-control form-control-user' %>
                </div>
                <div class="col-sm-6">
                  <%= f.label :celular %><br />
                  <%= f.text_field :celular, id:'tel_celular', class: 'form-control form-control-user' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: 'form-control form-control-user', autocomplete: "email" %>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <%= f.label :password, 'Senha' %>
                  <% if @minimum_password_length %>
                    <em>(minímo <%= @minimum_password_length %> caracteres)</em>
                  <% end %><br />
                  <%= f.password_field :password, class: 'form-control form-control-user', autocomplete: "new-password" %>
                </div>
                <div class="col-sm-6">
                  <%= f.label :password_confirmation, 'Confirmar senha' %><br />
                  <%= f.password_field :password_confirmation, class: 'form-control form-control-user', autocomplete: "new-password" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <%= f.label :escola, "Instituição"   %><br/>
                  <%= f.collection_select :escola_id, Escola.all.order(:nome), :id, :nome, {}, {:class => "custom-select-sm form-control"} %>
                </div>
                <div class="col-sm-6 pt-2">
                  <%= f.radio_button :role_id, 3, checked:true %>
                  <%= f.label :aluno, 'Aluno' %><br/>
                  <%= f.radio_button :role_id, 2 %>
                  <%= f.label :prof, 'Professor'%>
                </div>
              </div>
              <div class="actions">
                <%= f.submit "Inscrever-se", class: 'btn btn-primary btn-user btn-block' %>
              </div>
            <% end %>
            <hr>
            <div class="text-center">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
