<div class="card o-hidden border-0 shadow-lg my-3">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-3">
          <div class="text-left">
            <span class="h1 font-weight text-lg-gray-800 mb-4">Equipamentos</span>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card o-hidden border-0 shadow-lg my-3">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-3">
          <div class="d-sm-flex align-items-center mb-4">
            <%# <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="btn_new_lab">
              <i class="fas fa-flask" aria-hidden="true"> Laboratório</i>
            </button> %>
            <%= link_to new_equipament_path, :class => "ml-1 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
              <i class="fas fa-plus-square"></i>Novo equipamento
            <% end %>
            <div class="col-auto">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Laboratório</div>
                </div>
                <%= select_tag 'lab_id', options_for_select(Laboratory.all.order(:name).collect {|p| [p.name, p.id]}), {:class => "custom-select form-control", :data => {:placeholder => 'Selecione uma instituição'}, :include_blank => true} %>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <div class="row mr-1 ml-1">
      <% @equipaments.each do |eqp| %>
        <div class="col-lg-6">
          <div class="card mb-4" style="heighut:20px;">
            <img src="..." class="card-img-top" alt="...">
              <div class="card-header-nopadding">
                <h5 class="m-0 font-weight-bold text-white"><%= eqp.name %></h5>
              </div>
              <div class="card-body" style="padding:0.5rem !important;">
              <p class="card-text" ><%= eqp.description %></p>
              <hr>  
                <%= link_to 'Exibir', equipament_path(eqp),  class:"btn btn-success btn-sm" %>          
                <%= link_to 'Editar', edit_equipament_path(eqp), :class => 'btn btn-primary btn-sm' %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>