<div class="card o-hidden border-0 shadow-lg my-3">
  <div class="card-body">
    <div class="form-group row">
      <%= label_tag 'Nome', 'Nome', class: 'col-2 control-label padding'  %>
      <div class="col-sm-10">        
        <%= text_field_tag :name, @equipament.name, class: 'form-control form-control', readOnly: "true" %>
      </div>
    </div>
    <div class="form-group row">
      <%= label_tag 'description', 'Descrição', class: 'col-2 control-label padding'  %>
      <div class="col-sm-10">        
        <%= text_area_tag :description, @equipament.description, rows: 2, class: 'form-control form-control', readOnly: "true" %>
      </div>
    </div>
    <div class="form-group row">
      <%= label_tag 'brand', 'Marca', class: 'col-2 control-label padding'  %>
      <div class="col-sm-4">        
        <%= text_field_tag :brand, @equipament.brand, class: 'form-control form-control', readOnly: "true" %>
      </div>

      <%= label_tag 'model', 'Modelo', class: 'col-2 control-label padding'  %>
      <div class="col-sm-4">        
        <%= text_field_tag :model, @equipament.model, class: 'form-control form-control', readOnly: "true" %>
      </div>
    </div>
    <div class="form-group row">
      <%= label_tag 'capacity', 'Capacidade', class: 'col-2 control-label padding'  %>
      <div class="col-sm-4">        
        <%= text_field_tag :capacity, @equipament.capacity, class: 'form-control form-control', readOnly: "true" %>
      </div>
    </div>
    <div class="form-group row">
      <%= label_tag 'patrimony', 'Patrimônio', class: 'col-2 control-label padding'  %>
      <div class="col-sm-4">        
        <%= text_field_tag :patrimony, @equipament.patrimony, class: 'form-control form-control', readOnly: "true" %>
      </div>
    </div>
    <div class="form-group row">
      <%= label_tag 'simultaneous_use', 'Uso simultâneo', class: 'col-3 control-label padding'  %>
      <div class="col-sm-3">        
        <%= number_field_tag :simultaneous_use, @equipament.simultaneous_use, class: 'form-control form-control', readOnly: "true" %>
      </div>
    </div>
    <div class="form-group row">
      <%= label_tag 'laboratory', 'Laboratório', class: 'col-2 control-label padding'  %>
      <div class="col-sm-4">        
        <%= text_field_tag :laboratory, @equipament.laboratory.name, class: 'form-control form-control', readOnly: "true" %>
      </div>
    </div>
    <div class="actions">
      <%= link_to 'Editar', edit_equipament_path(@equipament), :class => 'btn btn-primary' %>
      <%= link_to 'Voltar', equipaments_path, :class => 'btn btn-secondary' %>
    </div>
  </div>
</div>
<div class="card o-hidden border-0 shadow-lg my-3">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <form action="/upload" id="mediadropzone" class="dropzone" enctype="multipart/form-data">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <%= hidden_field_tag 'equipament', @equipament.id %>
          <div class="dz-message">    
            Arraste os arquivos ou clique para fazer upload
          </div>
          <div class="fallback">
          <input name="media" type="file" multiple />
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <h5><i class="fa fa-paperclip"> </i> Anexos</h5>
        <% if @anexos.present? %>
          <div class="col-sm-6">
            <% @anexos.each do |att|%>
              <div id="anexo-<%=att.id%>">
                <i class="fa fa-file-text-o"></i> <%= link_to File.basename(att.file.path), {action: 'download_file', id: att.id, controller: 'upload'}, target: '_blank'  %>
                <button style="font-size: 10px" type="button" class="btn btn-sm btn-danger" onclick="remover_anexo('<%= att.id %>')" ><i class="fa fa-trash"></i> </button>                                                  
                <br />
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
</div>