<div class="card o-hidden border-0 shadow-lg my-3">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-3">
          <div class="text-left">
            <span class="h1 font-weight text-lg-gray-800 mb-4">Usuários</span>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card o-hidden border-0 shadow-lg my-3">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-3">
          <div class="tabs-container">
            <ul class="nav nav-tabs">
              <li class="nav-item nav-link active"><a data-toggle="tab" href="#tab-alunos"> Alunos (<%= @alunos.count %>)</a></li>
              <li class="nav-item nav-link"><a data-toggle="tab" href="#tab-professores"> Professores (<%= @professores.count %>) </a></li>
              <li class="nav-item nav-link"><a data-toggle="tab" href="#tab-admins"> Administradores (<%= @admins.count %>) </a></li>
              <li class="nav-item nav-link"><a data-toggle="tab" href="#tab-inativos"> Desativados (<%= @inativos.count %>) </a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-alunos" class="tab-pane active">
                <div class="panel-body">
                  <table class="table table-striped table-bordered table-hover table-user-alunos">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>RA</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Instituição</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @alunos.each do |user| %>
                          <tr>
                            <td><%= user.nome %></td>
                            <td><%= user.ra %></td>
                            <td><%= user.email %></td>
                            <td><%= user.celular %></td>
                            <td><%= user.escola.nome %></td>
                            <td><%= link_to toggle_user_user_path(user), { class: 'btn btn-sm btn-danger btn-table', title: 'Desativar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' } do %>
                                <i class="fa fa-ban" aria-hidden="true"></i>
                              <% end %>
                              <button class="btn btn-sm btn-success btn-table" data-toggle="tooltip" data-placement="right" title="Trocar permissão" onclick="open_modal_alter_permission(<%= user.id %>, '<%= user.role.permissao%>')">
                              <i class="fas fa-exchange-alt"></i></button>
                            </td>
                            <%# <td><%= link_to edit_user_path(user), { class: 'btn btn-sm btn-default btn-table', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' } do
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                              <% end %-></td> %>
                          </tr>
                      <% end %>
                    </tbody>
                    <tfoot>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div id="tab-professores" class="tab-pane">
                <div class="panel-body">
                  <table class="table table-striped table-bordered table-hover table-user-professores">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Instituição</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @professores.each do |user| %>
                          <tr>
                            <td><%= user.nome %></td>
                            <td><%= user.email %></td>
                            <td><%= user.celular %></td>
                            <td><%= user.escola.nome %></td>
                            <td><%= link_to toggle_user_user_path(user), { class: 'btn btn-sm btn-danger btn-table', title: 'Desativar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' } do %>
                                <i class="fa fa-ban" aria-hidden="true"></i>
                              <% end %>
                              <button class="btn btn-sm btn-success btn-table" data-toggle="tooltip" data-placement="right" title="Trocar permissão" onclick="open_modal_alter_permission(<%= user.id %>, '<%= user.role.permissao%>')">
                              <i class="fas fa-exchange-alt"></i></button>
                            </td>
                          </tr>
                      <% end %>
                    </tbody>
                    <tfoot>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div id="tab-admins" class="tab-pane">
                <div class="panel-body">
                  <table class="table table-striped table-bordered table-hover table-user-admins">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Instituição</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @admins.each do |user| %>
                          <tr>
                            <td><%= user.nome %></td>
                            <td><%= user.email %></td>
                            <td><%= user.celular %></td>
                            <td><%= user.escola.nome %></td>
                            <td><%= link_to toggle_user_user_path(user), { class: 'btn btn-sm btn-danger btn-table', title: 'Desativar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' } do %>
                                <i class="fa fa-ban" aria-hidden="true"></i>
                              <% end %>
                              <button class="btn btn-sm btn-success btn-table" data-toggle="tooltip" data-placement="right" title="Trocar permissão" onclick="open_modal_alter_permission(<%= user.id %>, '<%= user.role.permissao%>')">
                              <i class="fas fa-exchange-alt"></i></button>
                            </td>
                          </tr>
                      <% end %>
                    </tbody>
                    <tfoot>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div id="tab-inativos" class="tab-pane">
                <div class="panel-body">
                  <table class="table table-striped table-bordered table-hover table-user-inativos">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>RA</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Instituição</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @inativos.each do |user| %>
                          <tr>
                            <td><%= user.nome %></td>
                            <td><%= user.ra %></td>
                            <td><%= user.email %></td>
                            <td><%= user.celular %></td>
                            <td><%= user.escola.nome %></td>
                            <td><%= link_to toggle_user_user_path(user), { class: 'btn btn-sm btn-primary btn-table', title: 'Ativar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' } do %>
                                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                              <% end %></td>
                          </tr>
                      <% end %>
                    </tbody>
                    <tfoot>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAlterPermission" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog " style="width: 350px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" > Alterar Permissão </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <%= form_tag('/users/alter_permission', method: :post) do %>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-sm-12">
              <%= label_tag 'Permissão atual', nil %>
              <%= text_field_tag :current, nil, class: 'form-control form-control', readOnly: "true" %>
              <%= hidden_field_tag :id, nil %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <%= label_tag 'Nova permissão', nil %>
              <%= select_tag 'role_id', options_for_select(Role.all.order(:permissao).collect {|p| [p.permissao, p.id]}), {:class => "custom-select-sm form-control", :data => {:placeholder => 'Selecione uma permissão'}} %>
            </div>
          </div>
        </div>
        <div class="modal-footer">            
          <%= submit_tag 'Salvar', :class => 'btn btn-primary'%>
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        </div>
      <% end %>
    </div>
  </div>
</div> 

<script>
  $(document).ready(function() {
    
    $('.table--user-alunos').DataTable({
      pageLength: 10,
      responsive: true,
      dom: '<"html5buttons"B>lTfgitp',
      buttons: [
          {extend: 'excel', title: 'Alunos'},
          {extend: 'pdf', title: 'Alunos'}
      ],
      "ordering": true,
      "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
      }
    });

    $('.table--user-professores').DataTable({
      pageLength: 10,
      responsive: true,
      dom: '<"html5buttons"B>lTfgitp',
      buttons: [
          {extend: 'excel', title: 'Professores'},
          {extend: 'pdf', title: 'Professores'}
      ],
      "ordering": true,
      "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
      }
    });

  });

  function open_modal_alter_permission(id, current)
  {
    $('#current').val(current);
    $('#id').val(id);
    $('#modalAlterPermission').modal('show');
  }
</script>