<p id="notice"><%= notice %></p>

<div class="card o-hidden border-0 shadow-lg my-3">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-3">
          <div class="text-left">
            <span class="h1 font-weight text-lg-gray-800 mb-4">Usuários</span>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card o-hidden border-0 shadow-lg my-3">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-3">
          <div class="tabs-container" id="tabsUsuario" >
            <ul class="nav nav-tabs">
              <li class="nav-item nav-link active"><a data-toggle="tab" id="tabAluno" href="#tab-alunos"> Alunos (<%= @alunos.count %>)</a></li>
              <li class="nav-item nav-link"><a data-toggle="tab" id="tabProfessor" href="#tab-professores"> Professores (<%= @professores.count %>) </a></li>
              
            </ul>
            <div class="tab-content">
              <div id="tab-alunos" class="tab-pane fade show active">
                <div class="panel-body">
                  <table class="table table-striped table-bordered table-hover table-user-alunos">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>RA</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Instituição</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @alunos.each do |user| %>
                          <tr>
                            <td><%= user.nome %></td>
                            <td><%= user.ra %></td>
                            <td><%= user.email %></td>
                            <td><%= user.celular %></td>
                            <td><%= user.escola.nome %></td>
                            <td><%= link_to edit_user_path(user), { class: 'btn btn-sm btn-default btn-table', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' } do %>
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                              <% end %></td>
                          </tr>
                      <% end %>
                    </tbody>
                    <tfoot>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div id="tab-professores" class="tab-pane fade">
                <div class="panel-body">
                  <table class="table table-striped table-bordered table-hover table-user-professores">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>RA</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Instituição</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @professores.each do |user| %>
                          <tr>
                            <td><%= user.nome %></td>
                            <td><%= user.ra %></td>
                            <td><%= user.email %></td>
                            <td><%= user.celular %></td>
                            <td><%= user.escola.nome %></td>
                            <td><%= link_to edit_user_path(user), { class: 'btn btn-sm btn-default btn-table', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' } do %>
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                              <% end %></td>
                          </tr>
                      <% end %>
                    </tbody>
                    <tfoot>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    
    $('.table--user-alunos').DataTable({
      pageLength: 10,
      responsive: true,
      dom: '<"html5buttons"B>lTfgitp',
      buttons: [
          {extend: 'excel', title: 'Alunos'},
          {extend: 'pdf', title: 'Alunos'}
      ],
      "ordering": true,
      "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
      }
    });

    $('.table--user-professores').DataTable({
      pageLength: 10,
      responsive: true,
      dom: '<"html5buttons"B>lTfgitp',
      buttons: [
          {extend: 'excel', title: 'Professores'},
          {extend: 'pdf', title: 'Professores'}
      ],
      "ordering": true,
      "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
      }
    });
    
    
  });
</script>