<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @laboratory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @laboratory.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @laboratory.active %>
</p>

<p>
  <strong>Escola:</strong>
  <%= @laboratory.escola %>
</p>

<%= link_to 'Edit', edit_laboratory_path(@laboratory) %> |
<%= link_to 'Back', laboratorys_path %>
