<div class="modal fade" id="modalEditEscola" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog w-700"]>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" > Escola </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form class="form-horizontal" id="form_escola">
          <div class="modal-body">
            <div class="form-group row">
              <div class="col-sm-12">
                <%= label_tag 'Nome', nil %>
                <%= text_field_tag :nome, nil, class: 'form-control form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <%= label_tag 'Endereço', nil %>
                <%= text_field_tag :endereco, nil, class: 'form-control form-control' %>
              </div>
              <div class="col-sm-6">
                <%= label_tag 'Número', nil %>
                <%= text_field_tag :numero, nil, class: 'form-control form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <%= label_tag 'Bairro', nil %>
                <%= text_field_tag :bairro, nil, class: 'form-control form-control' %>
              </div>
              <div class="col-sm-6">
                <%= label_tag 'Cidade', nil %>
                <%= text_field_tag :cidade, nil, class: 'form-control form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <%= label_tag 'Responsável', nil %>
                <%= text_field_tag :responsavel, nil, class: 'form-control form-control' %>
              </div>
              <div class="col-sm-6">
                <%= label_tag 'Telefone', nil %>
                <%= text_field_tag :telefone, nil, class: 'form-control form-control', :id=> 'telefone' %>
              </div>
            </div>
          <div class="modal-footer">            
            <%= submit_tag 'Salvar', :id => 'btnEditEscola', :class => 'btn btn-primary'%>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
</div> 