<div class="modal fade" id="modalNewLesson" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog w-700">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" > Nova aula </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form class="form-horizontal" id="form_lesson">
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-sm-6">
              <%= label_tag 'Disciplina', nil %>
              <%= select_tag 'disciplina_id', options_for_select(Disciplina.where(escola_id: current_user.escola_id).order(:nome).collect {|p| [p.nome, p.id]}), {:class => "custom-select-sm form-control", :data => {:placeholder => 'Selecione uma disciplina'}, :include_blank => true} %>
            </div>
            <div class="col-sm-6">
              <%= label_tag 'Laboratório', nil %>
              <%= select_tag 'laboratory_id', options_for_select(Laboratory.all.order(:name).collect {|p| [p.name, p.id]}), {:class => "custom-select-sm form-control", :data => {:placeholder => 'Selecione um professor'}, :include_blank => true} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6" >
              <%= label_tag 'data', 'Data' %>
              <%= date_field_tag 'data', Time.now.strftime("%Y-%m-%d"), class: 'form-control form-control' %>
            </div>
            <div class="col-sm-3">
              <%= label_tag 'Hora inicio', nil %>
              <%= time_field_tag 'start_time', nil,  class: 'form-control form-control'%>
            </div>
            <div class="col-sm-3">
              <%= label_tag 'Hora fim', nil %>
              <%= time_field_tag 'end_time', nil,  class: 'form-control form-control'%>
            </div>
          </div>  
          <%# <div class="form-group row">
            <%= label_tag 'solicitacao_aula', 'Anexar solicitação de aula', class: 'col-12 control-label'  
            <div class="col-sm-12">          
              <%= file_field_tag 'lessom[solicitacao_aula]', class: 'form-control form-control'
            </div>
          </div>    %>
        </div>  
        <div class="modal-footer">            
          <%= submit_tag 'Salvar', :type=>'button', :id=> 'btn_create_lesson', :class => 'btn btn-primary'%>
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div> 