<div class="card o-hidden border-0 shadow-lg my-3">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-3">
          <div class="text-left">
            <span class="h1 font-weight text-lg-gray-800 mb-4">Aulas</span>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card shadow mb-4">
    <a href="#FilterLesson" class="d-block card-header py-3 collapsed" data-toggle="collapse"
        role="button" aria-expanded="false" aria-controls="FilterLesson" style="background-color: white;">
        <h6 class="m-0 font-weight-bold text-primary">Filtro</h6>
    </a>
    <div class="collapse" id="FilterLesson">
        <div class="card-body">
          <%= search_form_for @q do |f| %>
            <div class="form-group row">
              <div class="col-sm-6">
                <%= f.label :laboratory_id_eq, 'Laboratório'  %>
                <%= f.collection_select :laboratory_id_eq, Laboratory.all.order(:name), :id, :name, {include_blank: true}, {class: "w-80"}%>
              </div>      
              <div class="col-sm-6">
                <%= f.label :disciplina_id_eq, 'Disciplina'  %>
                <%= f.collection_select :disciplina_id_eq, Disciplina.where(active: true).order(:nome), :id, :nome, {include_blank: true}, {class: "w-80"}%>
              </div> 
            </div> 
            <div class="form-group row">  
              <div class="col-sm-3" style="display:flex">
                <%= f.label :data_gteq, 'De' %>
                <%= f.date_field :data_gteq, class: 'left-10' %>
              </div>
              <div class="col-sm-4" style="display:flex">
                <%= f.label :data_lteq, 'Até' %>
                <%= f.date_field :data_lteq, class: 'left-10' %>
              </div>
              <%# <div class="col-sm-2"  style="display:flex">
                <%= f.label :review_true, 'Revisado?'  
                <%= f.check_box :review_true, {class: "form-control height-25"} 
              </div> %>
            </div>

            <%= f.submit :class => 'btn btn-primary' %>
          <% end %>
        </div>
    </div>
</div>
<div class="card o-hidden border-0 shadow-lg my-3">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-3">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="btn_new_lesson">
              <i class="fas fa-plus-square" aria-hidden="true"> Novo registro</i>
            </button>
          </div>
          <table class="table table-striped table-bordered table-hover table-lessons">
            <thead>
              <tr>
                <th>Disciplina</th>
                <th>Laboratório</th>
                <th>Data</th>
                <th>Início</th>
                <th>Fim</th>
                <th>Revisado</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @lessons.each do |lesson| %>
                <tr>
                  <td><%= lesson.disciplina.nome %></td>
                  <td><%= lesson.laboratory.name %></td>
                  <td><%= human_date lesson.data %></td>
                  <td><%= human_time lesson.start_time %></td>
                  <td><%= human_time lesson.end_time %></td>
                  <% if lesson.review %>
                    <td style="color:green; text-align:center"><i class="fa fa-check" aria-hidden="true"></i></td>
                  <% else %>
                    <td><i class="fa fa-clock-o" aria-hidden="true"></i></td>
                  <% end %>
                  <td>
                    <%= link_to 'Exibir', lessom_path(lesson),  class:"btn btn-success btn-sm" %>          
                    <%= link_to 'Editar', edit_lessom_path(lesson), :class => 'btn btn-primary btn-sm' %>
                  </td>                  
                </tr>
              <% end %>
            </tbody>
          </table>       
        </div>
      </div>
    </div>    
  </div>
  <%= render 'lessons/modal_new_lesson' %>
  <%= render 'lessons/modal_solicitacao_aula' %>
</div>

<style>
  .height-25{ 
    height: 25px !important;
  }
  .left-10{
    margin-left: 10px
  }
  .w-80{ 
    width: 80%;
  }
</style>

<script>
  $(document).ready(function() {
    
    $('.table-lessons').DataTable({
      pageLength: 10,
      responsive: true,
      dom: '<"html5buttons"B>lTfgitp',
      buttons: [
          {extend: 'excel', title: 'Empresas'},
          {extend: 'pdf', title: 'Empresas'}
      ],
      "ordering": true,
      "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
      }
    });
    
  });
</script>